#encabezado {background-color:#ddf0a4;padding:20px;}
#contenido {background-color:#EEEEEE;height:450px;padding:20px; }
#pie {background-color:#ddf0a4;color:#ff0000;padding:20px;}
body {font-size:1.3em;}
input, select {font-size:0.9em;}
